*{
    background-color: lightblue;
}

header {
    background-color: lightyellow;
}

.boardContainer {
    background-color: red;
}

.board {
    background-color:lightpink;
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto auto; */
    border: 30px solid lightseagreen;
    margin: 30px;
    background-color: lightsalmon;
    font-size: 100px;
    font-weight: bolder;
    color: whitesmoke;
    font-family: Courier, monospace;


    
}

.cell {
    display: flex;
    justify-content: space-around;
    border: 50px solid lightseagreen;

}

button {
    background-color: lightseagreen;
}