header {
    font-size: 50px;
    text-align: center;
    border-bottom: 5px dashed aliceblue;
}
body {
    background-color: deepskyblue;
    color: whitesmoke;
}

.instructions {
    text-align: center;
    font-size: 30px;
    
}

.selectOpponent {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 5px dashed aliceblue;
}

.selectOpponentButtons {
    display: flex;
    justify-content: space-around;
}


#vsHuman, #vsComputer {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 5px dashed aliceblue;
}

#vsHumanForm, #vsComputerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.scoreBoard {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}

.nameHolder {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
}


.board {
    background-color:deepskyblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 10px solid aliceblue;
}



.cell {
    display: flex;
    border: 10px solid aliceblue;
    justify-content: space-around;
    font-size: 200px;
    font-weight: bolder;
    color: whitesmoke;
    font-family: Courier, monospace;
}

.endMessage {
    text-align: center;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    margin-top: 25px;
}


button {
    background-color: royalblue;
    font-size: 40px;
    color: whitesmoke;
    border-radius: 12px;
    margin: 10px;
    margin-bottom: 25px;
    min-height:90px; 
    box-shadow: 4px 6px rgb(41, 68, 149);
}

button:hover {
    background-color: blue;
}
button:active {
    background-color: darkblue;
}

input {
    width: 50%;
    margin: 5px;
    margin-bottom: 25px;
    font-size: 30px;
}


.x::after {
    content: 'x';
}

.o::after {
    content: 'o';
}